#p5_loading {
    display: none;
}


/*AI*/

@font-face {
    font-family: 'quartzFont';
    src: url('/data/Segment14.otf');
}

.dialogue-button-parent {
    display: inline;
    filter: drop-shadow(0px -10px 0px grey) drop-shadow(-2.5px 0px 0px rgb(110, 110, 110)) drop-shadow(2.5px 0px 0px rgb(110, 110, 110));
}

.dialogue-button {
    position: relative;
    max-width: 16ch;
    animation: reveal .25s ease-in-out;
    display: block;
    background-color: black;
    color: Lime;
    font-size: 20px;
    border: 4px solid rgb(91, 100, 82);
    font-family: quartzFont;
    cursor: pointer;
    clip-path: inset(0 0 40% 0);
}

.dialogue-button:hover .flicker-text {
    animation: flicker 1s infinite steps(1);
    transition: none;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    40% {
        opacity: 0.25;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    90% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal {
    0% {
        clip-path: inset(0 100% 40% 0);
    }
    100% {
        clip-path: inset(0 0 40% 0);
    }
}

.dialogue-button.second-anim-class {
    animation: second-anim 0.5s forwards;
}

@keyframes second-anim {
    0% {
        clip-path: inset(0 0 40% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
        transform: translate(0px, -10px);
    }
}

.dialogue-button-parent.init-reveal {
    animation: remove-shadow 0.5s forwards;
    /* delay matches reveal duration */
}

@keyframes remove-shadow {
    0% {
        filter: drop-shadow(0px -10px 0px grey) drop-shadow(-2.5px 0px 0px rgb(110, 110, 110)) drop-shadow(2.5px 0px 0px rgb(110, 110, 110));
        ;
    }
    100% {
        filter: drop-shadow(0px 5.5px 0px rgb(170, 170, 170));
    }
}
